*.py[co]
*.eggs
*.egg-info
*.lock
*.mo
*.swap
*.sqlite3
dist
build
eggs
sdist
develop-eggs
pip-log.txt
node_modules
npm-debug.log
.venv*
.tox
.idea
.vscode
.DS_Store
*.db
.coverage
AUTHORS
ChangeLog
yarn-error.log
