/* Global Scss */
html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "ff-tisa-web-pro-1", "ff-tisa-web-pro-2", "Lucida Grande", "Hiragino Sans GB", "Hiragino Sans GB W3",
    "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
  color: #4e4e4e;
}

body {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: 100%;
  font-family: inherit;
  font-size: 0.4rem;
  // line-height: 1.42857143;
  color: inherit;
  padding-top: 0;
  counter-reset: captions;
}

#app {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a,
a:focus,
a:hover {
  color: inherit;
  outline: none;
  text-decoration: none;
}

div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
li,
i,
a {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

ul {
  border: 0;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

hr {
  border: none;
  border-top-color: currentcolor;
  border-top-style: none;
  border-top-width: medium;
}

@font-face {
  font-family: "iconfont";
  src: url("../assets/iconfont/iconfont.eot");
  src: url("../assets/iconfont/iconfont.eot?#iefix") format("embedded-opentype"),
    url("../assets/iconfont/iconfont.woff") format("woff"), url("../assets/iconfont/iconfont.ttf") format("truetype"),
    url("../assets/iconfont/iconfont.svg#iconfont") format("svg");
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-googleplussquare:before {
  content: "\e66a";
}

.icon-github:before {
  content: "\e709";
}

.icon-rss:before {
  content: "\e6ee";
}

.icon-weibo:before {
  content: "\e737";
}

.icon-xingquaihao:before {
  content: "\e62c";
}

.icon-twitter:before {
  content: "\e655";
}

.icon-xingquaihao1:before {
  content: "\e611";
}

.icon-email:before {
  content: "\e6f2";
}

.icon-graduation-cap:before {
  content: "\e612";
}

.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-xs-1,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9 {
  position: relative;
  min-height: 0.02rem;
  padding-right: 0.3rem;
  padding-left: 0.3rem;
}

.col-xs-1,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9 {
  float: left;
}

.col-xs-12 {
  width: 100%;
}

@media (min-width: 768px) {
  .col-sm-1,
  .col-sm-10,
  .col-sm-11,
  .col-sm-12,
  .col-sm-2,
  .col-sm-3,
  .col-sm-4,
  .col-sm-5,
  .col-sm-6,
  .col-sm-7,
  .col-sm-8,
  .col-sm-9 {
    float: left;
  }
  .col-sm-5 {
    width: 41.66666667%;
  }
  .col-sm-7 {
    width: 58.33333333%;
  }
  .col-sm-6 {
    width: 50%;
  }
}

@media (min-width: 992px) {
  .col-md-1,
  .col-md-10,
  .col-md-11,
  .col-md-12,
  .col-md-2,
  .col-md-3,
  .col-md-4,
  .col-md-5,
  .col-md-6,
  .col-md-7,
  .col-md-8,
  .col-md-9 {
    float: left;
  }

  .col-md-4 {
    width: 33.33333333%;
  }
  .col-md-8 {
    width: 66.66666667%;
  }
}

@media (min-width: 1200px) {
  .col-lg-1,
  .col-lg-10,
  .col-lg-11,
  .col-lg-12,
  .col-lg-2,
  .col-lg-3,
  .col-lg-4,
  .col-lg-5,
  .col-lg-6,
  .col-lg-7,
  .col-lg-8,
  .col-lg-9 {
    float: left;
  }
  .col-lg-6 {
    width: 50%;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  margin-bottom: 0.5rem;
  line-height: 1.25;
  color: #313131;
  text-rendering: optimizeLegibility;
}

h4,
h5,
h6 {
  font-weight: 700;
  margin-top: 0.4rem;
  font-size: 0.4rem;
}

h3 {
  font-weight: 700;
  margin-top: 0.6rem;
  font-size: 0.6rem;
}

ul,
ol,
dl {
  margin-top: 0;
  margin-bottom: 1rem;
}

p {
  margin: 0 0 0.2rem;
}

p {
  margin-top: 0;
  margin-bottom: 0.4rem;
}

.row {
  margin-left: 0;
  margin-right: 0;
}

.row:before {
  content: " ";
  display: table;
}

.row:after {
  content: " ";
  display: table;
  clear: both;
}

.big-icon {
  font-size: 1rem;
}

.home-section:first-of-type {
  padding-top: 1.4rem;
}

.home-section {
  background-color: rgb(255, 255, 255);
  padding: 2.2rem 0 2.2rem 0;
  animation: intro 0.3s both;
  animation-delay: 0.15s;
}

.home-section:nth-of-type(even) {
  background-color: rgb(247, 247, 247);
}

.container {
  padding-right: 0.3rem;
  padding-left: 0.3rem;
  margin-right: auto;
  margin-left: auto;
  min-height: 1.4rem;

  .navbar-header {
    margin-right: -0.3rem;
    margin-left: -0.3rem;
  }

  .navbar-header:before {
    display: table;
    content: "";
  }
  .navbar-header:after {
    display: table;
    content: "";
    clear: both;
  }
}

.container:before {
  display: table;
  content: "";
}

.container:after {
  display: table;
  content: "";
  clear: both;
}

@media (min-width: 768px) {
  .container {
    width: 750px;

    .navbar-brand {
      margin-left: -0.3rem;
    }

    .navbar-collapse {
      margin-right: 0;
      margin-left: 0;
      padding-right: 0;
      padding-left: 0;
    }

    .navbar-header {
      float: none;
      min-height: inherit;
      margin-left: 0;
      margin-right: 0;
    }
  }

  .collapse {
    display: block !important;
    height: auto !important;
    padding-bottom: 0;
    overflow: visible !important;
  }

  .navbar-collapse {
    width: auto;
    border-top: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  .navbar-nav {
    float: left;
    margin: 0;
  }

  .nav {
    li {
      float: left;
    }
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;

    .navbar-header {
      float: left;
      margin-right: 0;
      margin-left: 0;
      min-height: inherit;
    }

    .navbar-brand {
      height: inherit;
      line-height: 1rem;
      padding-top: 0.2rem;
      padding-bottom: 0.2rem;
    }
  }
}

img,
video {
  height: auto;
  max-width: 100%;
  display: block;
}

img {
  vertical-align: middle;
  border: 0;
}